.text-center {
    text-align: center;
}

.mtb-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.container {
    width: 49.75%;
    display: inline-block;
}

.cat-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.text-decor {
    color: white;
    text-shadow: 1px 1px 2px #000;
}

.counter-container {
    position: absolute;
    right: 10px;
    top: 10px;
}

.text-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    padding: 10px 15px;
    margin: 5px 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    background: #d5d5db;
}

.btn:hover {
    background: #bcbcc1;
}